.links
  margin-top: 40px
  margin-bottom: 80px

  &__title
    margin-top: 0

  .links-row
    border-radius: 0
    border-color: #f1f1f1
    margin: -1px 0

    &:first-of-type
      margin-bottom: 15px
