.report
  margin: 20px auto
  padding: 15px

  table
    th
      border: 0

  &__fieldset
    border: 0
    overflow: visible

    &__content
      padding: 5px

  .dot
    width: 10px
    height: 10px

  .green
    background: #62d783

  .blue
    background: #007aff
